<style>
.map img {max-width:none !important;}
#divUserLists a {cursor:pointer;}
</style>

<h2>Project Team Map - <%=project.name%></h2>
<div id="map1" class="map" style="height:<%=options.height%>px;">
  <h4>Dynamicly loaded project map here</h4>
</div>
<br/>

<div id="divUserLists" style="display:none">
<h2>Unmapped Users - No Google Location recorded</h2>
<div id="mapUnknowns">
</div>
<br/>
<h2>Mapped Users - Google Location entered</h2>
<div id="mapKnowns">

</div>
</div>

<script src='http://maps.googleapis.com/maps/api/js?sensor=false' type='text/javascript'></script>
<%=javascript_include_tag('gmap3.min.js', :plugin => 'redmine_membersgmap')%>
<%=javascript_include_tag('daynightoverlay.min.js', :plugin => 'redmine_membersgmap')%>
<%=javascript_include_tag('md5.js', :plugin => 'redmine_membersgmap')%>


<script type='text/javascript'>
var userList  = [];
$(document).ready(function () {
	<%
	#Build the array of users
	users.each {|user| 
		#for each user work out the project role

		userroles = ""
		user.roles_for_project(project).each {|role|
			userroles += "," if !(userroles == "")
			userroles += role.name
		}
		maprole=""
		options.roleorder.split(',').each {|role|
			if !(userroles.split(',').index(role).nil?)
				maprole = role
				break
			end
		}
		%>
		userList.push( {name: "<%=user.name %>" , role: "<%=maprole%>", mail: "<%=user.mail %>",  location: "<%=user.custom_field_value(mapfield) %>"} );
		<%
	}
	%>

	//Now we do all the Map stuff

	RenderMapResults();

	$("#divUserLists").slideDown();

});

var mapMarkerValues = [];
var mapObj;
function RenderMapResults() {


for(u=0;u<userList.length;u++) {
  if(userList[u].location && userList[u].location!="") {
    if (userList[u].role == "Developer")
      mapMarkerValues.push({address: userList[u].location, data: { name : userList[u].name, role: userList[u].role, icon: "http://www.gravatar.com/avatar/" + CryptoJS.MD5(userList[u].mail) + "?rating=PG&size=48&default=identicon"},options:{icon:"http://maps.google.com/mapfiles/ms/icons/green-dot.png"},tag:userList[u].mail });
    else if (userList[u].role == "Manager")
      mapMarkerValues.push({address: userList[u].location, data: { name : userList[u].name, role: userList[u].role, icon: "http://www.gravatar.com/avatar/" + CryptoJS.MD5(userList[u].mail) + "?rating=PG&size=48&default=identicon"},options:{icon:"http://maps.google.com/mapfiles/ms/icons/blue-dot.png"} ,tag:userList[u].mail});
    else
      mapMarkerValues.push({address: userList[u].location, data: { name : userList[u].name, role: userList[u].role, icon: "http://www.gravatar.com/avatar/" + CryptoJS.MD5(userList[u].mail) + "?rating=PG&size=48&default=identicon"},options:{icon:"http://maps.google.com/mapfiles/ms/icons/red-dot.png"} ,tag:userList[u].mail});

    $("#mapKnowns").html($("#mapKnowns").html() + "<div><a onclick=\"google.maps.event.trigger($('#map1').gmap3({get:{name:'marker',tag:'" + userList[u].mail + "'}}),'click');return false\"><b>" + userList[u].name + "</b> (" + userList[u].mail + ") - " + userList[u].role + "</a></div>");
  } else {
    $("#mapUnknowns").html($("#mapUnknowns").html() + "<div><b>" + userList[u].name + "</b> (" + userList[u].mail + ") - " + userList[u].role + "</div>");
  }
}

    $("#map1").gmap3({
                map: {
                    options: {
                        streetViewControl: false,
                        center: new google.maps.LatLng(<%=options.centerlat%>, <%=options.centerlat%>),
                        zoom: <%=options.zoominitial%>,
                        minZoom: <%=options.zoommin%>
                    }
                },
                marker: {
                    values: mapMarkerValues
                    ,
                    events: {
                        click: function (marker, event, context) {
                            var map = $(this).gmap3("get")
                            var infowindow = $(this).gmap3({ get: { name: "infowindow" } });
                           
                            var contentstring = "<div style=\"width:200px;\">";
                            if (context.data.name) {
                                contentstring += "<div style=\"float:left;padding-right: 5px;\">";
                                if (context.data.icon) {
                                    contentstring = contentstring + "<img src=\"" + context.data.icon + "\" />";
                                }
                                contentstring += "</div><div style=\"float:left;\">";
                                contentstring = contentstring + "<b>" + context.data.name + "</b>";
                                if (context.data.role) {
                                    contentstring += "<br/>" + context.data.role;
                                }
                                contentstring += "</div>";
                                contentstring += "</div>";
                            } else {
                                contentstring = context.data;
                            }

                            if (infowindow) {
                                infowindow.open(map, marker);
                                infowindow.setContent(contentstring);
                            } else {
                                $(this).gmap3({
                                    infowindow: {
                                        anchor: marker,
                                        options: { content: contentstring }
                                    }
                                });
                            }
                        }

                    }
                }
            });
	if (<%=options.showdaylight%>) {
		mapObj = $("#map1").gmap3("get");
		new DayNightOverlay({
			map: mapObj
		});
	}
}





</script>

